.block1 {
    background-image: url('../../assets/img/techPrBg.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.block1Border {
    position: absolute;
    bottom: -6px;
    width: 100%;
}

.block1Grid {
    transform: scaleX(-1);
    transform-origin: 50% 50%;
    position: relative;
    width: 40%;
    margin-right: auto;
    height: inherit;
}

.block1Grid svg:nth-child(1) {
    top: -232px;
    left: -79px;
    position: absolute;
}

.block1Grid svg:nth-child(2) {
    position: absolute;
    left: 0;
    top: -207px;
}

.block1Text {
    position: absolute;
    top: 25%;
    right: 5%;
    width: 45%;
}

.block1Text h1 {
    text-shadow: 0 0 2px rgb(0 0 0 / 60%);
    font-size: 67px;
    line-height: 68px;
    font-weight: 300;
    text-align: left;
    color: #f4f4f4;
    margin-bottom: 28px;
}

.block1Text h2 {
    text-shadow: 0 0 2px rgb(0 0 0 / 60%);
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    text-align: left;
    color: #f4f4f4;
}

.block2 {
    width: 65%;
    margin: 50px auto;
}

.block2 h3, .block3 h2, .card h3 {
    font-size: 20px;
    font-family: roboto,serif;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    font-weight: 400;
}

.block2 p, .block2 li, .card p {
    font-size: 18px;
    line-height: 1.8;
    text-shadow: 0 0 2px hsl(0deg 0% 100% / 60%);
    text-align: left;
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.block3 {
    padding: 20px;
}

.card {
    display: grid;
    grid-auto-flow: row;
    width: 50%;
    height: fit-content;
    padding: 20px;
    margin: 15px auto;
}

.block3 button:hover {
    background-color: #ffb81c;
}

.block3 h2 {
    text-align: center!important;
    font-size: 22px !important;
}

.card h3, .card p {
    text-align: center!important;
}

@media (max-width: 1280px) {
    .block1Text h1 {
        font-size: 63px;
    }
    .block1Grid svg:nth-child(1) {
        left: -143px;
    }
    .block1Grid svg:nth-child(2) {
        left: -112px;
    }
    
}

@media (max-width: 1152px) {
    .block1Text {
        width: 52%;
    }
    .block1Grid svg:nth-child(1) {
        left: -195px;
    }
    .card {
        width: 70%;
    }
}


@media (max-width: 1024px) {
    .block1Text {
        width: 56%;
    }
    .block1Text h1 {
        font-size: 60px;
    }
    .block1Grid svg:nth-child(1) {
        left: -245px;
    }
}

@media (max-width: 800px) {
    .block1Grid svg:nth-child(1) {
        left: -336px;
    }
    .block1Grid svg:nth-child(2) {
        left: -193px;
    }
    .block1Text {
        right: -3%;
    }
    .block1Text h1 {
        font-size: 57px;
    }
}

@media (max-width: 425px) {
    .block1Grid {
        display: none;
    }
    .block1Text h1 {
        font-size: 49px;
    }
    .block1Text {
        width: 90%;
        left: 18%;
    }
    .block2 {
        width: 85%;
    }
    .card {
        width: 90%;
    }
}

@media (max-width: 375px) {
    .block1Text {
        left: 12%;
    }
}

@media (max-width: 320px) {
    .block1Text h1 {
        font-size: 43px;
        line-height: 47px;
    }
    .block1Text {
        left: 17%;
    }
    .block1 {
        height: 400px;
    }
    .card p {
        font-size: 16px;
    }
}