.container {
    width: 100%;
    background: #262626;
    position: sticky;
    z-index: 1;

}

.block {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    column-gap: 28px;
    height: 122px;
}

.blockList {
    background: #161616; 
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.block > img {
    width: 190px;
    height: 66px;
    padding: 15px 0;
}

.block a {
    list-style: none;
    text-decoration: none;
    color: #9e9e9e;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    transition: color .15s linear;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    position: relative;
}

.blockList a {
    padding: 25px 16px;
}

.blockList ul a {
    padding: 10px;
}

.globe {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #9e9e9e;
    column-gap: 10px;
    text-transform: uppercase;
    font-size: 13px;
    padding-right: 15px;
}

.globe img {
    width: 20px;
    height: 20px;

}

.blockList > a:nth-child(2)::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffb81c;
    position: absolute;
    right: 3px;
    top: 31px;
}

.blockList > a:nth-child(2):focus {
    background: #262626;
}

a:hover {
    color: #fff!important;
    background: #262626;
}

.sectionsList {
    padding: 0;
    margin: 0;
    display: block;
    background: #262626;
    position: absolute;
    width: 950px;
    top: 76px;
    left: -136px;
    display: flex;
    gap: 25px;
}

.modal {
    background-color: white!important;
    max-width: 22%;
    height: fit-content;
    margin: 5% auto;
    display: grid;
    padding: 30px;
    row-gap: 16px;
    transition: .5s;
}

.modal .button {
    height: fit-content;
    padding: 13px;
    margin: auto;
    background: transparent;
    color: #ffb81c;
    border: 2px solid #ffb81c;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 1.1px;
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 15%), 0 6px 12px 0 rgb(0 0 0 / 15%);
    transition-duration: 0.4s;
    text-decoration: none;
}

.modal .button:hover {
    background-color: #ffb81c;
    color: white;
}

.breadcrumb {
    background: #ffb81c!important;
    padding: 5px;
    padding: 8px;
    font-weight: 300;
    font-size: 12px;
    color: #c3c3c3!important;
}

.breadcrumb a:hover {
    background: transparent;
}

.breadcrumb li:nth-child(1) {
    margin-left: 7%;
}

.jobList {
    width: 80%;
    margin: 50px auto;
}

.jobDescription {
    box-shadow: 0px 1px 21px 4px #ffb81c;
    padding: 30px;
    margin: 40px 0;
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    text-align: left;
    align-items: center;
    grid-template-columns: 320px 115px auto 40px;
}

.jobDescription p, .block2Careers p, .block2Careers li, .block3Careers p, .block3Careers li, .block4Careers p, .blockAcademyText h3 {
    font-size: 17px;
    line-height: 1.8;
    text-shadow: 0 0 2px hsl(0deg 0% 100% / 60%);
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.jobDescription h2 {
    transition: opacity .5s ease-out 0s;
    font-size: 19px;
    font-family: roboto,serif;
    font-weight: 400;
    line-height: 25px;
}

.jobContainer {
    background: linear-gradient(0deg, rgba(244 244 244) 35%, rgba(255,255,255,1) 100%);
    padding-bottom: 30px;
}

.jobDescription > img {
    width: 30px;
}

.blockSearch {
    background-color: #373A36;
    background-image: none;
    min-height: 500px;
    position: relative;
}

.blockCareers {
    background-color: #373A36;
    background-image: none;
    min-height: 450px;
    position: relative;
}

.blockAcademy {
    background-image: none;
    min-height: 500px;
    position: relative;
}

.blockSearch .blockSearchBorder, .blockCareers .blockSearchBorder, .blockAcademy .blockSearchBorder {
    position: absolute;
    bottom: -3px;
    width: 100%;
}

.blockSearch .blockImg svg:nth-child(2) {
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
    height: auto;
    transform: scaleX(-1);
    transform-origin: 50% 50%;
}

.blockCareers .blockImg svg:nth-child(2), .blockAcademy .blockImg svg:nth-child(2) {
    position: absolute;
    width: 30%;
    right: 0;
    top: 0;
    height: auto;
}

.blockCareers .blockImg svg:nth-child(1), .blockAcademy .blockImg svg:nth-child(1) {
    position: absolute;
    width: auto;
    right: 0;
    top: -200px;

}

.blockSearch .blockImg svg:nth-child(1) {
    position: absolute;
    width: auto;
    left: 0;
    top: -200px;
    transform: scaleX(-1);
    transform-origin: 50% 50%;
}

.blockSearch .blockText {
    width: 40%;
    position: absolute;
    top: 17%;
    right: 10%;
}

.blockCareersText {
    width: 40%;
    position: absolute;
    top: 17%;
    left: 21%;
}

.blockSearch .blockText h1, .blockCareersText h1, .blockAcademyText h1 {
    text-shadow: 0 0 2px rgb(0 0 0 / 60%);
    font-size: 68px;
    line-height: 68px;
    font-weight: 300;
    text-align: left;
    color: #f4f4f4;
    margin: 0 0 28px;
}

.blockSearch .blockText p, .blockText1Container > p, .blockText2 p, .blockLocations p:nth-child(1), .blockCareersText p, .block2Careers h2, .block4Careers h2, .blockAcademyText p {
    color: #ffb81c;
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-family: 'Cinzel';
    text-align: left;
    font-weight: bold;
}

.blockSearch .blockText h2, .blockCareersText h2, .block2Academy h4, .block3Academy h3 {
    text-shadow: 0 0 2px hsl(0deg 0% 100% / 50%);
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 28px;
    font-weight: 300;
    color: #f4f4f4;
    text-align: left;
}

.block2Academy h4, .block3Academy h3 {
    color: black;
    font-weight: 400;
}
.textContainer {
    text-align: left;
    background: #f4f4f4;
    padding: 50px 0;
}

.blockText1Container h1, .block4Careers h1 {
    font-family: roboto,serif;
    font-weight: 400;
    margin: 0 0 35px;
    font-size: 34px;
    line-height: 42px;
    color: #000;
}

.blockText1 p, .blockText2 h3, .block2Academy p, .block3Academy p {
    font-size: 18px;
    line-height: 1.8;
    margin: 0 0 30px;
    text-shadow: 0 0 2px hsl(0deg 0% 100% / 60%);
    color: #000;
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.blockText2 h2, .blockLocations h2 {
    font-weight: 400 !important;
}

.blockText2 {
    margin-top: 70px;
    width: 50%;
}

.blockText2 a, .blockLocations a, .block4Careers a{
    background: #ffb81c;
    transition-duration: .25s;
    color: #373a36;
    display: inline-block;
    text-align: left;
    width: auto;
    border: 1px solid #ffb81c;
    border-right: 0;
    padding: 6px 34px 15px 8px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    transition: background .5s linear,border-color .5s ease-in-out,padding-left .5s ease-in-out,color .5s linear;
    position: relative;
    text-decoration: none;
}

.blockText2 a::before, .blockLocations a::before, .block4Careers a::before{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #000;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 4px;
    top: 50%;
    margin-top: -5px;
    transition: right .2s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
}

.blockText2 a::after, .blockLocations a::after, .block4Careers a::after {
    content: "";
    position: absolute;
    display: block;
    border: 1px solid #ffb81c;
    border-left: 0;
    border-bottom: 0;
    top: -1px;
    right: -1px;
    bottom: 0;
    width: 40px;
    background: #ffb81c;
    transform-origin: bottom left;
    transform: skew(-25deg);
    z-index: 0;
    transition: background .5s linear,border-color .5s linear;
}


.blockText2 a:hover, .blockLocations a:hover, .block4Careers a:hover {
    color: #fff!important;
}

.blockLocations {
    background-image: url('../../assets/img/searchLocations.jpg');
    min-height: 450px;
    position: relative;
}

.borderBottom {
    width: 100%;
    bottom: -3px;
    position: absolute;
}

.blockLocationsText {
    width: 35%;
    left: 15%;
    position: absolute;
    text-align: left;
    color: black;
}

.blockText1Container, .blockText2 {
    width: 70%;
    margin: 50px auto;
}

.block2Careers {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding: 50px 0;
}

.block2Careers h3, .block3Careers h3 {
    font-family: roboto,serif;
    font-weight: 400;
    margin: 0 0 35px;
    font-size: 32px;
    line-height: 42px;
}

.block3CareersContainer {
    background-color: #373A36;
    margin-bottom: 50px;
    color: #f4f4f4;
}

.block3Careers, .block4Careers {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.block4Careers h1 {
    margin: 2px 0 17px;
}

.block4Careers h2 {
    font-size: 16px;
    letter-spacing: 2px;
}

.block4Careers a {
    padding: 6px 39px 15px 18px;
    width: auto;
    margin: 15px 0;
}

.blockAcademyText {
    width: 40%;
    position: absolute;
    left: 20%;
    top: 15%;
    text-align: left;
}

.blockAcademyText h1 {
    font-size: 61px;
    color: black;
}

.blockAcademyText h3 {
    font-size: 20px;
}

.block2Academy {
    position: relative;
    padding: 50px 0;
    text-align: left;
}

.block2Academy > div {
    width: 50%;
    margin: 0 auto;
}

.block3AcademyContainer {
    background: linear-gradient(180deg, rgba(244,244,244,1) 35%, rgba(255,255,255,1) 100%);
}

.block2AcademyBorder {
    width: 100%!important;
    position: absolute;
    bottom: -3px;
}

.block3Academy {
    width: 50%;
    padding: 82px 0;
    margin: 0 auto;
    text-align: left;
}

.burgerMenu {
    height: 50px;
    display: none;
}

.burgerMenu a {
    color: black !important;
    text-decoration: none;
}
.burgerMenu a:hover {
    background-color: transparent;
}

.burgerMenu .line {
    width: 35px;
    height: 3px;
    background-color: #f4f4f4;
    margin: 5px 0;
    display: block;
    position: absolute;
    z-index: 1;
}

.MenuImg div:nth-child(1) {
    top: 3px;
    left: 15px;
}

.MenuImg div:nth-child(2) {
    top: 12px;
    left: 15px;
}

.MenuImg div:nth-child(3) {
    top: 21px;
    left: 15px;
}

.MenuImg {
    display: block;
}

@media (max-width: 1280px) {
    .block {
        width: 100%;
    }
    .blockCareers .blockImg svg:nth-child(2), .blockAcademy .blockImg svg:nth-child(2) {
        width: 37%;
    }
    .blockAcademyText {
        width: 51%;
        left: 15%;
    }
}

@media (max-width: 1152px) {
    .block {
        column-gap: 13px;
    }
    .sectionsList {
        width: 700px;
    }
    .blockList a {
        padding: 25px 8px;
    }
    .blockList > a:nth-child(2)::after {
        right: 0;
    }
    .blockSearch .blockImg svg:nth-child(2) {
        width: 40%;
    }
    .blockAcademyText h1 {
        font-size: 57px;
    }
    .sectionsList {
        left: -129px;
    }
    
}

@media (max-width: 1024px) {
    .blockList > a, .globe {
        display: none;
    }
    .burgerMenu {
        display: block;
    }
    .blockList {
        margin: auto 0;
        justify-content: unset;
        background:transparent;
        width: 49%;
        margin-left: auto;
        padding-right: 16px;
    }
    .block {
        column-gap: 35px;
        justify-content: unset;
    }
    .block > img {
        margin-right: auto;
    }
    .block a {
        font-size: 17px;
    }
    .modal {
        max-width: 35%;
    }
    .blockSearch .blockText h1, .blockCareersText h1, .blockAcademyText h1 {
        font-size: 63px;
    }
    .blockSearch .blockText h2, .blockCareersText h2, .block2Academy h4, .block2Academy h3 {
        font-size: 22px;
    }
    .blockCareers .blockImg svg:nth-child(2), .blockAcademy .blockImg svg:nth-child(2) {
        width: 46%;
    }
    .blockCareersText {
        width: 45%;
        top: 21%;
        left: 14%;
    }
    .block2Careers h3, .block3Careers h3,.blockText1Container h1, .block4Careers h1  {
        font-size: 29px;
        line-height: 39px;
    }
    .blockSearch .blockText p, .blockText1Container > p, .blockText2 p, .blockLocations p:nth-child(1), .blockCareersText p, .block2Careers h2, .block4Careers h2, .blockAcademyText p {
        font-size: 15px;
        letter-spacing: 3px;
        margin: 0 0 11px;
    }
    .blockAcademyText {
        width: 60%;
        left: 8%;
    }
    .block2Academy {
        padding-top: 0;
    }
}

@media (max-width: 800px) {
    .blockList {
        width: 70%;
    }
    .modal {
        max-width: 42%;
    }
    .blockSearch .blockImg svg:nth-child(2) {
        width: 60%;
    }
    .blockSearch .blockText {
        width: 50%;
        top: 23%;
        right: 5%;
    }
    .blockSearch .blockText h1, .blockCareersText h1 {
        font-size: 57px;
    }
    .blockSearch .blockText p, .blockText1Container > p, .blockText2 p, .blockLocations p:nth-child(1), .blockCareersText p, .block2Careers h2, .block4Careers h2, .blockAcademyText p {
        font-size: 13px;
    }
    .blockLocationsText {
        width: 45%;
        top: 20%;
    }
    .blockCareers .blockImg svg:nth-child(2), .blockAcademy .blockImg svg:nth-child(2) {
        width: 58%;
    }
    .blockCareersText {
        width: 50%;
        top: 23%;
        left: 10%;
    }
    .block2Careers h3, .block3Careers h3, .blockText1Container h1, .block4Careers h1  {
        font-size: 26px;
        line-height: 37px;
    }
    .blockAcademyText h1 {
        line-height: 55px;
        font-size: 52px;
    }
    .blockAcademyText h3 {
        font-size: 19px;
    }
}

@media (max-width: 425px) {
    .block {
        column-gap: 0;
    }
    .block img {
        width: 141px;
    }
    .blockList {
        width: 93%;
    }
    .block a {
        font-size: 14px;
    }
    .modal {
        max-width: 42%;
        margin: 50px;
    }
    .blockSearch .blockImg, .blockCareers .blockImg, .blockAcademy .blockImg {
        display: none;
    }
    .blockSearch .blockText, .blockAcademyText {
        width: 85%;
        top: 20%;
    }
    .blockSearch {
        min-height: 400px;
    }
    .blockSearch .blockText h1, .blockCareersText h1, .blockAcademyText h1 {
        font-size: 49px;
    }
    .blockText1Container h1, .block4Careers h1 {
        margin: 0 0 24px;
        font-size: 28px;
        line-height: 35px;
    }
    .textContainer .blockText1Container, .textContainer .blockText2, .block2Careers, .block3Careers, .block4Careers, .block2Academy > div, .block3Academy {
        width: 85%;
    }
    .blockLocationsText {
        width: 85%;
        top: 16%;
        left: 10%;
    }
    .blockLocations {
        min-height: 372px;
        background-image: none;
        background: #373a36;
    }
    .blockLocationsText h2, .blockLocationsText p {
        color: #f4f4f4;
    }
    .blockCareersText {
        width: 90%;
    }
    .blockCareersText h1 {
        line-height: 43px;
    }
    .blockCareers {
        min-height: 400px;
    }
    .block2Careers h3, .block3Careers h3, .blockText1Container h1, .block4Careers h1  {
        font-size: 22px;
        line-height: 34px;
    }
    
}

@media (max-width: 375px) {
    .block img {
        width: 107px;
    }
    .burgerMenu .line {
        width: 32px;
        height: 2px;
    }
    .blockList {
        padding-right: 5px;
    }
    .modal {
        margin: 49px;
        max-width: 36%;
    }
    .modal .button {
        padding: 8px;
        font-size: 16px;
    }
    .blockCareersText {
        left: 6%;
    }
    .blockAcademyText h1 {
        font-size: 46px
    }
    .block2Academy {
        padding-top: 30px;
    }
}

@media (max-width: 320px) {
    .blockList {
        padding-right: 0;
    }
    .blockList a {
        padding: 25px 3px;
    }
    .block a {
        font-size: 14px;
    }
    .block img {
        width: 88px;
    }
    .modal {
        margin: 32px;
        max-width: 80%;
    }
    .modal .button {
        padding: 10px 6px;
        font-size: 15px;
    }
    .blockSearch .blockText h1, .blockCareersText h1 {
        font-size: 43px;
        line-height: 39px;
    }

    .blockSearch .blockText h2, .blockCareersText h2, .block2Academy h4, .block2Academy h3 {
        font-size: 18px;
    }
    .block2Careers h3, .block3Careers h3, .blockText1Container h1, .block4Careers h1  {
        font-size: 20px;
        line-height: 30px;
    }
    .blockText2 a, .blockLocations a, .block4Careers a{
        font-size: 14px;
        padding: 6px 31px 10px 12px;
    }
    .blockAcademyText h1 {
        font-size: 38px;
        line-height: 40px;
    }
    .blockAcademyText {
        top: 15%;
    }
    .block2Academy {
        padding-top: 0;
    }
}