.profile {
    background: rgb(244 244 244);
    padding: 30px;
}

.card {
    box-shadow: -1px 2px 16px 2px rgb(255 184 28);
    width: 35%;
    margin: 30px auto;
    padding: 30px;
    background: white;
    font-size: 17px;
    line-height: 1.8;
    text-shadow: 0 0 2px hsl(0deg 0% 100% / 60%);
    color: #000;
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.cardText {
    text-align: left;
    margin: 20px;
}


.jobList {
    width: 80%;
    margin: 50px auto!important;
}

.jobDescription {
    box-shadow: 0px 1px 21px 4px #ffb81c;
    padding: 30px;
    margin: 40px 0;
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    text-align: left;
    align-items: center;
    grid-template-columns: 320px 115px auto 40px;
}

.jobDescription p {
    font-size: 17px;
    line-height: 1.8;
    text-shadow: 0 0 2px hsl(0deg 0% 100% / 60%);
    font-family: Roboto,sans-serif;
    font-weight: 300;
}

.jobDescription h2 {
    transition: opacity .5s ease-out 0s;
    font-size: 19px;
    font-family: roboto,serif;
    font-weight: 400;
    line-height: 25px;
}

.jobDescription > img {
    width: 30px;
}