.container {
    width: 100%;
    background: #262626;
    position: sticky;
    z-index: 1;

}

.block {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    column-gap: 28px;
    height: 122px;
}

.blockList {
    background: #161616; 
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.block > img {
    width: 190px;
    height: 66px;
    padding: 15px 0;
}

.block a {
    list-style: none;
    text-decoration: none;
    color: #9e9e9e;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    transition: color .15s linear;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    position: relative;
}

.blockList a {
    padding: 25px 16px;
}

.blockList ul a {
    padding: 10px;
}

.globe {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #9e9e9e;
    column-gap: 10px;
    text-transform: uppercase;
    font-size: 13px;
    padding-right: 15px;
}

.globe img {
    width: 20px;
    height: 20px;

}

.blockList > a:nth-child(4)::after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #ffb81c;
    position: absolute;
    right: 3px;
    top: 31px;
}

.blockList > a:nth-child(4):focus {
    background: #262626;
}

a:hover {
    color: #fff!important;
    background: #262626;
}

.sectionsList {
    padding: 0;
    margin: 0;
    background: #262626;
    position: absolute;
    width: 950px;
    top: 76px;
    left: -379px;
    display: flex;
    grid-gap: 24px;
    gap: 25px;

}

.modal {
    background-color: white!important;
    max-width: 22%;
    height: fit-content;
    margin: 5% auto;
    display: grid;
    padding: 30px;
    row-gap: 16px;
    transition: .5s;
}

.modal .button {
    height: fit-content;
    padding: 13px;
    margin: auto;
    background: transparent;
    color: #ffb81c;
    border: 2px solid #ffb81c;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 1.1px;
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 15%), 0 6px 12px 0 rgb(0 0 0 / 15%);
    transition-duration: 0.4s;
    text-decoration: none;
}

.modal .button:hover {
    background-color: #ffb81c;
    color: white;
}

.breadcrumb {
    background: #ffb81c!important;
    padding: 5px;
    padding: 8px;
    font-weight: 300;
    font-size: 12px;
    color: #c3c3c3!important;
}

.breadcrumb a:hover {
    background: transparent;
}

.breadcrumb li:nth-child(1) {
    margin-left: 7%;
}

.blockLeaders {
    background-color: #373A36;
    background-image: none;
    min-height: 400px;
    position: relative;
}

.blockDiversity {
    background-image: url('../../assets/img/diversity.jpg');
    height: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.blockAboutContainer {
    height: 400px;
    position: relative;
    background-image: url('../../assets/img/about.png');
    background-repeat: no-repeat;
}

.blockLeaders .blockLeadersBorder, .blockAboutBorder, .blockDiversityBorder {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.blockLeaders .blockImg svg:nth-child(2), .blockAboutContainer .blockImg svg:nth-child(2) {
    position: absolute;
    width: 30%;
    right: 0;
    top: -50px;
    height: auto;
}

.blockLeaders .blockImg svg:nth-child(1), .blockAboutContainer .blockImg svg:nth-child(1) {
    position: absolute;
    width: auto;
    right: 0;
    top: -200px;

}

.blockLeaders .blockLeadersText {
    width: 40%;
    position: absolute;
    top: 20%;
    left: 22%;
}

.blockLeadersText h1, .blockAboutText h1, .blockDiversityText h1 {
    font-size: 57px;
    line-height: 68px;
    text-shadow: 0 0 2px rgb(0 0 0 / 60%);
    font-family: 'CINZEL';
    font-weight: 300;
    text-align: left;
    color: #f4f4f4;
}

.usersListContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    width: 80%;
    margin: 50px auto;
    column-gap: 20px;
}
.user {
    box-shadow: 0 2px 15px 0 hsl(0deg 0% 69% / 50%);
    display: grid;
    justify-content: space-between;
    background: #fff;
    color: #373a36;
    padding: 30px;
    margin: 0 auto;
    max-width: 345px;
    border: 1px solid #fff;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    transition: box-shadow .3s linear;
    grid-row-gap: 10px;
}

.user img {
    border-radius: 50%;
}

.user p, .block2About p, .block2Diversity p, .block3DiversityText p, .block4Forums p, .block5VeteransText p {
    font-size: 17px;
    line-height: 1.8;
    text-shadow: 0 0 2px hsl(0deg 0% 100% / 60%);
    font-family: Roboto,sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

.blockAboutText {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 20%;
}

.blockAboutText p, .blockDiversityText h2 {
    text-shadow: 0 0 2px rgb(0 0 0 / 60%);
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 28px;
    font-weight: 300;
    text-align: left;
    color: #f4f4f4;
}

.blockAboutText h1 {
    font-size: 48px !important;
}

.block2About{
    width: 60%;
    margin: 50px auto;
    text-align: left;
}

.block2About h3, .block2Diversity h2 {
        animation: type 2s steps(60) 0s;
        animation-fill-mode: forwards;
        color: #ffb81c;
        color: #ffb81c!important;
        text-shadow: 0 0 2px hsl(0deg 0% 100% / 60%);
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 1;
        font-family: 500;
}

.block2About h1, .block2Diversity h3, .block3DiversityText h3, .block5VeteransText h3 {
    transition: opacity .5s ease-out 0s;
    font-family: roboto,serif;
    font-weight: 400;
    margin: 22px 0 35px;
    font-size: 34px;
    line-height: 42px;
    color: #000;
}
.block2About .block2AboutDescription {
    column-count: 2;
    column-span: all;
    column-gap: 30px;
    row-gap: 10px;
}

.block2About a{
    background: #ffb81c;
    transition-duration: .25s;
    color: #373a36;
    display: inline-block;
    text-align: left;
    width: auto;
    border: 1px solid #ffb81c;
    border-right: 0;
    padding: 10px 33px 15px 18px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    transition: background .5s linear,border-color .5s ease-in-out,padding-left .5s ease-in-out,color .5s linear;
    position: relative;
    text-decoration: none;
    margin: 25px 0;
}

.block2About a::before{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #000;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 4px;
    top: 50%;
    margin-top: -5px;
    transition: right .2s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
}

.block2About a::after {
    content: "";
    position: absolute;
    display: block;
    border: 1px solid #ffb81c;
    border-left: 0;
    border-bottom: 0;
    top: -1px;
    right: -1px;
    bottom: 0;
    width: 40px;
    background: #ffb81c;
    transform-origin: bottom left;
    transform: skew(-25deg);
    z-index: 0;
    transition: background .5s linear,border-color .5s linear;
}


.block2About a:hover {
    color: #fff!important;
}

.blockDiversityText {
    width: 68%;
    margin: auto;
    padding-top: 5%;
}

.block2Diversity {
    width: 60%;
    margin: 50px auto;
    text-align: left;
}

.block3Diversity {
    background-image: url('../../assets/img/womenDiv.jpg');
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    position: relative;
}

.block3DiversityTopBorder, .block3DiversityBorderBottom, .block5VeteransTopBorder, .block5VeteransBorderBottom {
    width: 100%;
    position: absolute;
}

.block3DiversityBorderBottom, .block5VeteransBorderBottom {
    bottom: 0;
}

.block3DiversityText {
    width: 40%;
    position: absolute;
    top: 21%;
    left: 17%;
}

.block3DiversityText h3, .block3DiversityText p, .block5VeteransText h3, .block5VeteransText p {
    color: #f4f4f4;
}

.block4Container {
    background-color: #f4f4f4;
    padding: 30px 0;
}

.block4Forums {
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
    text-align: left;
    margin-bottom: 27px;
}

.block4Forums img {
    float:right;
    margin-top: -77px;
}

.block4Forums h3 {
    margin-bottom: 22px;
    font-size: 21px;
    line-height: 32px;
    margin: 0 0 42px;
    font-family: Roboto;
    font-weight: 400;
    clear: both;
}

.block5Veterans {
    background-image: url('../../assets/img/veterans.jpg');
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    position: relative;
}

.block5VeteransText {
    position: absolute;
    width: 40%;
    top: 24%;
    left: 13%;
}

.block6MilitaryRecognition {
    background-color: #f4f4f4;
    padding: 30px 0;
}


.burgerMenu {
    height: 50px;
    display: none;
}

.burgerMenu a {
    color: black !important;
    text-decoration: none;
}
.burgerMenu a:hover {
    background-color: transparent;
}

.burgerMenu .line {
    width: 35px;
    height: 3px;
    background-color: #f4f4f4;
    margin: 5px 0;
    display: block;
    position: absolute;
    z-index: 1;
}

.MenuImg div:nth-child(1) {
    top: 3px;
    left: 15px;
}

.MenuImg div:nth-child(2) {
    top: 12px;
    left: 15px;
}

.MenuImg div:nth-child(3) {
    top: 21px;
    left: 15px;
}

.MenuImg {
    display: block;
}

@media (max-width: 1280px) {
    .block {
        width: 100%;
    }
}

@media (max-width: 1152px) {
    .block {
        column-gap: 13px;
    }
    .sectionsList {
        width: 700px;
    }
    .blockList a {
        padding: 25px 8px;
    }
    .blockList > a:nth-child(4)::after {
        right: 0;
    }
}

@media (max-width: 1024px) {
    .blockList > a, .globe {
        display: none;
    }
    .burgerMenu {
        display: block;
    }
    .blockList {
        margin: auto 0;
        justify-content: unset;
        background:transparent;
        width: 49%;
        margin-left: auto;
        padding-right: 16px;
    }
    .block {
        column-gap: 35px;
        justify-content: unset;
    }
    .block > img {
        margin-right: auto;
    }
    .block a {
        font-size: 17px;
    }
    .modal {
        max-width: 35%;
    }
}

@media (max-width: 800px) {
    .blockList {
        width: 70%;
    }
    .modal {
        max-width: 42%;
    }
}

@media (max-width: 425px) {
    .block {
        column-gap: 0;
    }
    .block img {
        width: 141px;
    }
    .blockList {
        width: 93%;
    }
    .block a {
        font-size: 14px;
    }
    .modal {
        max-width: 42%;
        margin: 50px;
    }
}

@media (max-width: 375px) {
    .block img {
        width: 107px;
    }
    .burgerMenu .line {
        width: 32px;
        height: 2px;
    }
    .blockList {
        padding-right: 5px;
    }
    .modal {
        margin: 49px;
        max-width: 36%;
    }
    .modal .button {
        padding: 8px;
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .blockList {
        padding-right: 0;
    }
    .blockList a {
        padding: 25px 3px;
    }
    .block a {
        font-size: 14px;
    }
    .block img {
        width: 88px;
    }
    .modal {
        margin: 32px;
        max-width: 80%;
    }
    .modal .button {
        padding: 10px 6px;
        font-size: 15px;
    }
}